@model IEnumerable<FashionHub.ViewModels.CategoriesVM> 

<div class="filter-sidebar-left">
    <div class="title-left">
        <h3>Categories</h3>
    </div>
    <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
        @foreach (var item in Model)
        {
             <a asp-controller="Product" asp-action="Index" asp-route-categoryId="@item.CategoryId" class="list-group-item list-group-item-action"> @item.CategoryName  <small class="text-muted">(@item.StockQuantity) </small></a>
        }
        
    </div>
</div>