<div class="top-search bg-white" >
    <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input id=findword type="text" class="form-control text-dark" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>    
    </div>
    <div id=result></div>
</div>

