@model IEnumerable<FashionHub.ViewModels.ProductVM>
    <div class="row my-5">
        <div class="col-lg-12">
            <div class="title-all text-center">
                <h1>Featured Products</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
            </div>
            <div class="featured-products-box owl-carousel owl-theme">
                @foreach (var item in Model){
                <div class="item" style="width: 232.5px; min-height: 368px;">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="~/images/Products/@item.Image"  style="width: 232.5px; height: 232.5px;" class="img-fluid" alt="@item.Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a asp-action="Details" asp-controller="Product" asp-route-id="@item.ProductId" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.ProductId">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text" style="min-height: 105px;">
                            <h4>@item.ProductName</h4>
                            <h5> $@item.Price</h5>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>

<style>
    

    /*.box-img-hover {
        width: 100%;
        height: 100%;
        position: relative;
    }*/

    .box-img-hover img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Đảm bảo hình ảnh đầy đủ không bị méo */
    }

    /* Thêm các styles khác nếu cần thiết */
</style>